# Configure.
addons:
  apt:
    sources:
      - google-cloud
    packages:
      libgit2-dev
language: go
go: 1.7
sudo: false

# Run.
install:
  - make install
before_script:
  - git config --global user.email "builds@travis-ci.com"
  - git config --global user.name "Travis CI"
script: make
after_success:
  - go get -u github.com/mattn/goveralls
  - goveralls -service=travis-ci
